<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.springdemo.dao.CoffeeMapper">
    <select id="findCoffeeById" resultType="Coffee">
        select *
        from t_coffee
        where id = #{id}
    </select>
    <select id="findCoffeeByName" resultType="Coffee">
        select *
        from t_coffee
        where name = #{name}
    </select>
    <select id="findCoffeeList" resultType="Coffee">
        select * from t_coffee
    </select>
</mapper>